#top_nav{
	-fx-background-color: #F5F5DC;
}

#home_bt{
	-fx-background-color: Transparent;
}

#home_bt{
	-fx-background-color: Transparent;
}

#profile_bt{
	-fx-background-color: Transparent;
}

#cart_bt{
	-fx-background-color: Transparent;
}